{% extends "_layouts/html5.twig" %}

{% set docTitle = "Matt Williams - User experience designer" %}

{% block body %}
  <main class="flex flex-col sm:flex-row bg-gray-300 h-screen">
    <div class="flex-initial flex flex-col items-center justify-center bg-teal-900 bg-gradient-to-b sm:bg-gradient-to-r from-teal-900 to-blue-800 angled-b sm:angled-r">
      <div class="m-5 self-centerjustify-self-center text-gray-300">
        <h1 class="font-title font-black leading-none text-3xl md:text-5xl lg:text-6xl 2xs:whitespace-nowrap"=>Matt Williams</h1>
        <div class="font-title2 text-base md:text-2xl md:tracking-wide lg:tracking-normal lg:text-3xl 2xs:whitespace-nowrap">User experience designer</div>
      </div>
    </div>
    <div class="flex-1 flex flex-col items-center justify-start xs:justify-center">
      <div class="-mt-4 xs:-mt-16 sm:mt-0 text-2xl leading-none w-full">
        {{ include('_components/nav-global.twig', {
            orientation: 'dynamic'
        }) }}
      </div>
      <div class="absolute bottom-0">
        {{ include('_components/social-media-list') }}
      </div>
    </div>
  </main>
{% endblock body %}