{% apply spaceless %}
  {% set url = url ?? null %}
  {% set platform = platform ?? null %}
  {% set title = title ?? null %}

  {% if url and platform %}
    <a class="inline-block m-2 pt-1 text-teal-900 hover:text-blue-800 transform underline-from-center" href="{{ url(url) }}">
      {{~ include('_components/svg/' ~ platform|lower, {
          title: title,
          attributes: {class: ["h-6 w-6"]}
        }) ~}}
    </a>
  {% endif %}
{% endapply %}