<div class="grid abstract-frame">
  <div class="col-start-1 col-end-5 row-start-2 row-end-4 flex">
    <div class="bg-gradient-to-bl from-blue-200 to-blue-400 w-full flex-none rounded-6xl border-teal-700 transform skew-x-6 md:skew-x-12"></div>
    <div class="w-full flex-none -ml-full p-6 rounded-tl-6xl rounded-br-6xl transform shadow-lg bg-gradient-to-br from-gray-100 to-gray-300 -rotate-2 -skew-x-6 md:-skew-x-12"></div>
  </div>
  <div class="relative w-full lg:w-auto md:px-8 lg:px-0 col-start-2 col-end-4 row-start-1 row-end-5 self-center pb-0 rounded-xl">
    <div class="relative overflow-hidden rounded-xl shadow-2xl flex bg-gradient-to-b from-blue-800 to-teal-900">
      <div class="relative w-full flex flex-col transform -skew-x-0 md:rounded-xl bg-white p-4 m-4">
        Frame content here
      </div>
    </div>
  </div>
</div>