<header class="flex flex-col sm:flex-row bg-gray-300 h-auto">
  <div class="flex-initial flex flex-col items-center justify-center bg-teal-900 bg-gradient-to-b sm:bg-gradient-to-r from-teal-900 to-blue-800 sm:angled-r">
    <div class="m-2 sm:m-4 self-center sm:self-start justify-self-center text-gray-300 2xs:whitespace-nowrap">
      <div class="font-title font-black leading-none text-2xl 2xs:text-3xl ">Matt Williams</div>
      <div class="font-title2 text-xs 2xs:text-base tracking-wide 2xs:tracking-normal">User experience designer</div>
    </div>
  </div>
  <div class="flex-1 flex flex-col items-center justify-start xs:justify-center">
    <div class="text-l sm:text-2xl leading-none w-full">
      {{ include('_components/nav-global.twig') }}
    </div>
  </div>
</header>